ion-tabs.tabs-icon-top.tabs-color-active-positive
    ion-tab(title="Low",
    icon-off="android-arrow-dropdown",
    icon-on="android-arrow-dropdown-circle",
    href="#/tab/low")
        ion-nav-view(name="tab-low")

    ion-tab(title="Mid",
    icon-off="ion-ios-chatboxes-outline",
    icon-on="ion-ios-chatboxes",
    href="#/tab/mid")
        ion-nav-view(name="tab-mid")

    ion-tab(title="High",
    icon-off="android-arrow-dropup",
    icon-on="android-arrow-dropup-circle",
    href="#/tab/high")
        ion-nav-view(name="tab-high")
